attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
english-words==1.1.0
idna==3.3
iniconfig==1.1.1
joblib==1.1.0
nltk==3.7
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
regex==2022.4.24
requests==2.27.1
soupsieve==2.3.2.post1
tomli==2.0.1
tqdm==4.64.0
urllib3==1.26.9
